attrs==25.4.0
certifi==2026.1.4
cfgv==3.5.0
charset-normalizer==3.4.4
click==8.3.1
click-plugins==1.1.1.2
cligj==0.7.2
colorama==0.4.6
coloredlogs==15.0.1
contextily==1.7.0
contourpy==1.3.2
cuda-bindings==13.3.1
cuda-pathfinder==1.6.0
cycler==0.12.1
distlib==0.4.0
filelock==3.24.2
flatbuffers==25.12.19
fonttools==4.61.1
fsspec==2026.2.0
geographiclib==2.1
geopandas==1.1.2
geopy==2.4.1
humanfriendly==10.0
identify==2.6.16
idna==3.11
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.4.9
Mako==1.3.10
MarkupSafe==3.0.3
matplotlib==3.10.8
mercantile==1.2.1
ml_dtypes==0.5.4
mpmath==1.3.0
networkx==3.4.2
nodeenv==1.10.0
numpy==2.2.6
onnx==1.20.1
onnxruntime-gpu==1.28.0
onnxslim==0.1.87
opencv-python==4.13.0.92
packaging==26.0
pandas==2.3.3
pillow==12.1.1
platformdirs==4.9.2
polars==1.38.1
polars-runtime-32==1.38.1
pre_commit==4.5.1
protobuf==7.34.0
psutil==7.2.2
pycuda==2026.1
pyogrio==0.12.1
pyparsing==3.3.2
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytools==2025.2.5
pytz==2025.2
PyYAML==6.0.3
rasterio==1.4.4
requests==2.32.5
ruff==0.15.1
scikit-learn==1.7.2
scipy==1.15.3
shapely==2.1.2
siphash24==1.8
six==1.17.0
sympy==1.14.0
tensorrt-cu13==11.2.1.2
tensorrt-cu13-bindings==11.2.1.2
tensorrt-cu13-libs==11.2.1.2
threadpoolctl==3.6.0
torch==2.13.0
torchvision==0.28.0
triton==3.7.1
typing_extensions==4.15.0
tzdata==2025.3
ultralytics==8.4.14
ultralytics-thop==2.0.18
urllib3==2.6.3
virtualenv==20.36.1
xyzservices==2025.11.0
